@import url("../app/utils/fonts.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --box-rouning-small: 4px;
  --box-rouning-medium: 6px;
  --box-rouning-large: 10px;
  --border-size-small: 1.5px;
  --border-size-medium: 2px;
  --border-size-large: 3px;
  --border-box-color-white: #ffffff30;

  --red-500: #ff0000;
}

*,
:after,
:before {
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App-app_9f33f414 {
  background-color: #000000;
}

body {
  color: #ffffff;
  line-height: 1.3em;
  font-family: Brutal, sans-serif;
  font-weight: 400;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #161616;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

a {
  color: inherit;
  text-decoration: none;
}

.affiliateWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

@media screen and (min-width: 300px) {
  .sacWrapper {
    width: 89% !important;
    max-width: 1456px;
    padding: 2em 1em;
  }
}

.sacWrapper {
  width: 100%;
  margin: 0px auto;
  padding: 2em 0.5em;
  position: relative;
}
